<h2>All items</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Real</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.real %></td>
        <td><%= item.description %></td>
        <td><%= button_to 'Delete', item_path(item), method: :delete %></td>
        <td><%= button_to 'Edit', edit_item_path(item), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

