<h2>Create new item</h2>

<!--<form action="/items/new" method="post">-->
<!--  <label></label>-->
<!--  <input type="text" name="title">-->
<!--  <input type="submit" name="Send">-->
<!--</form>-->

<%= simple_form_for @item do |f| %>

  <%= f.input :name, label: :name, input_html: {class: 'form-text'} %>
  <%= f.input :price, label: :price, input_html: {class: 'form-text'} %>
  <%= f.input :description, label: :description, input_html: {class: 'form-text'} %>

  <%= f.button :submit, class: 'btn btn-primary btn-sm mt-3 mb-5' %>

<% end %>

<%= render :partial => 'shared/email' %>