<h2>Create new item</h2>

<!--<form action="/items/new" method="post">-->
<!--  <label></label>-->
<!--  <input type="text" name="title">-->
<!--  <input type="submit" name="Send">-->
<!--</form>-->

<%= form_tag items_path, method: :post do %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :price %>
  <%= text_field_tag :price %>
  <%= label_tag :description %>
  <%= text_area_tag :description %>

  <%= submit_tag 'Save', class: 'btn btn-primary btn-sm' %>

<% end %>

<%= render :partial => 'shared/email' %>