<h2>Show item</h2>

<h4><%= @item.name.upcase %></h4>

<ul>
  <li><b>Price</b> <%= @item.price %>$</li>
  <li><b>Real</b> <%= @item.real %></li>
  <li><b>Description</b> <%= @item.description %></li>
  <li><b>Weight</b> <%= @item.weight %></li>
</ul>

<%= button_to "Edit #{@item.name}", edit_item_path, method: :get %>
<%= button_to 'All items', items_path, method: :get %>
<%= button_to 'Delete', item_path(@item), method: :delete %>

<%= render :partial => 'shared/email' %> 