<!DOCTYPE html>
<html>
  <head>
    <title>RailsCaurse2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Admin panel</h1>
    <%= yield %>

  <footer>
    <h3>Send your questions</h3>

    <%= mail_to 'g9160832993@yandex.ru' do %>
      <p>g9160832993@yandex.ru</p>
    <% end %>
  </footer>
  </body>
</html>
