<!DOCTYPE html>
<html>
  <head>
    <title>RailsCaurse2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon_1.png') %>
  </head>

  <body>
    <div class="container mt-5 mb-5">
      <h1>Rails course</h1>
      <p class="alert"><%= flash[:error] %></p>
      <p class="success"><%= flash[:success] %></p>

      <%= yield %>
    </div>
  </body>
</html>
